@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1b1b1b;
}

button:hover {
    background-color: #896c02;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

/* Login */
.login-container {
    max-width: 400px;
    margin: 10% auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 25px;
}

#loginForm button,
.find-button {
    background-color: #e8b802;
    color: #29303B;
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
}

#loginForm a {
    text-align: left;
    color: #1b6dc1;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    margin-bottom: 10%;
}

.links {
    font-size: 10px;
    margin-top: 15px;
}

.links a {
    color: #1b6dc1;
    text-decoration: none;
}

/* Dashboard */
.menu {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #1b6dc1;
    height: 80px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.menu a {
    padding: 12px 20px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
}

.menu a:hover {
    color: #ccc;
    cursor: pointer;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #1b1b1b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #1b1b1b;
}

#greeting {
    color: #1b1b1b;
    font-weight: 600;
    text-align: center;
    margin: 20px auto;
}

/* Tracking */
.tracking-container {
    max-width: 500px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tracking-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 700px;
    margin: 25px auto;
    animation: fadeIn 0.5s ease;
}

.tracking-card h3 {
    text-align: center;
    color: #1b3c74;
    margin-bottom: 15px;
}

.tracking-info p {
    margin: 6px 0 10px 0;
    font-size: 15px;
}

.tracking-info {
    margin-bottom: 32px;
}

.status {
    color: #007bff;
    font-weight: bold;
}

.timeline {
    list-style: none;
    position: relative;
    margin: 20px 0 0 0;
    padding-left: 30px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    width: 3px;
    height: 100%;
    background: #1b6dc1;
    border-radius: 10px;
}

.timeline li {
    margin-bottom: 20px;
    position: relative;
}

.timeline-dot {
    position: absolute;
    left: -19.5px;
    top: -9px;
    width: 12px;
    height: 12px;
    background: #1b6dc1;
    border-radius: 50%;
}

/* .timeline-info {
    margin-top: 20px;
} */

.timeline-time {
    display: block;
    color: #1b6dc1;
    font-size: 13px;
    font-weight: bold;
}

.timeline-text {
    background: #f0f6ff;
    padding: 10px;
    border-radius: 6px;
    margin-top: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Stock */
.container h2 {
    margin-top: 25px;
}

.container {
    margin: auto;
    max-width: 75vw;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    border-bottom: 1px solid #eee;
    padding: 12px;
    text-align: center;
    font-size: 15px;
}

table th {
    background-color: #1b6dc1;
    color: white;
}

table tr:hover {
    background-color: #f0f8ff;
}

table td a {
    color: #1b6dc1;
    text-decoration: none;
}

table td a:hover {
    text-decoration: underline;
}

form#formTambah {
    max-width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form#formTambah button {
    width: 100%;
    margin-top: 15px;
}

/* media query */
@media (max-width: 768px) {
    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    form#formTambah input {
        width: 100%;
    }

    .tracking-container,
    .login-container {
        width: 90%;
    }
}